@import '../../scss/index.scss';

.related-card {
  @include card();
  padding: 30px;
  margin-bottom: 50px;
  .heading {
    display: flex;
    justify-content: space-between;
    input {
      margin-top: -1px;
    }
    button {
      border-radius: 6px;
      color: $checkbox;
      background: $primary;
      border: none;
      margin: 5px;
      width: 150px;
      height: 40px;
      margin-right: 40px;
      &:active {
        background: $checkbox;
        color: $primary;
      }
    }
  }
  .header {
    color: $gray-light;
    border: none;
  }
  .related-header {
    margin-bottom: 50px;
  }
  & {
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    input[type=checkbox] {
      border-radius: 6px;
      height: 25px;
      width: 25px;
      margin-right: 20px;
    }
    h2 {
      color: $secondary-font;
      font-weight: 500;
      font-size: 18px;
    }
    table {
      width: 100%;
      font-size: 14px;
      border-collapse: collapse;
      tr {
        text-align: left;
        border: solid;
        border-color: $checkbox;
        border-width: 2px 0;
      }
      th {
        padding-bottom: 25px;
      }
      td {
        p {
          margin: 5px;
        }
      }
    }
  }
}
