@import '../../scss/index.scss';

.related-card {
  @include card();
  padding: 30px;
  .heading {
    display: flex;
    justify-content: space-between;
    button {
      border-radius: 6px;
      color: $checkbox;
      background: $primary;
      border: none;
      margin: 5px;
      width: 150px;
      height: 40px;
      margin-right: 40px;
      &:active {
        background: $checkbox;
        color: $primary;
      }
    }
  }
  .header {
    color: $gray-light
  }
  .related-header {
    margin-bottom: 50px;
  }
  & {
    table {
      font-size: 14px;
    }
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    input[type=checkbox] {
      border-radius: 6px;
      height: 25px;
      width: 25px;
      margin-right: 20px;
    }
    h2 {
      color: $secondary-font;
      font-weight: 500;
      font-size: 18px;
    }
    table {
      width: 100%;
      tr {
        text-align: left;
      }
    }
  }
}