@import '../../scss/index.scss';

.product-card {
  @include card();
  padding: 50px;
}

.product-container {
  display: flex;
}

.product-description {
  .heading {
    display: flex;
    justify-content: space-between;
    button {
      background: $checkbox;
      border-radius: 6px;
      color: $primary;
      border: none;
      margin: 5px;
      width: 150px;
      &:active {
        color: $checkbox;
        background: $primary;
      }
    }
  }
  & {
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 0;
      margin-top: 0;
    }
    h3 {
      margin-top: 0;
      font-style: normal;
      font-weight: 600;
    }
    p {
      margin-top: 80px;
      font-weight: normal;
      font-size: 12px;
      line-height: 21px;
    }
  }
}

.product-footer {
  display: flex;
  justify-content: space-between;
  & {
    .legend {
      font-weight: 500;
      font-size: 13px;
      line-height: 21px;
    }
    .value {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $gray-light;
    }
  }
}