@import '../../scss/index.scss';

.row-element {
  .secondary {
    color: $gray-light;
  }
  .date {
    color: $primary;
  }
  & {
    input[type=checkbox] {
      border-radius: 6px;
      height: 25px;
      width: 25px;
    }
    input[type=checkbox]:after {
      background-color: $checkbox
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: $secondary-font
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    button {
      background: $checkbox;
      border-radius: 6px;
      color: $primary;
      border: none;
      margin: 5px;
      &:active {
        color: $checkbox;
        background: $primary;
      }
    }
  }
}
