@import '../../scss/index.scss';

.row-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & {
    input[type=checkbox] {
      border-radius: 6px;
      height: 25px;
      width: 25px;
    }
    input[type=checkbox]:after {
      background-color: $checkbox
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: $secondary-font
    }
  }
}